.venv/
trash/
final_output.mp4
output.gif
output1.gif
run_local_windows.bat
__pycache__
processed_video_with_trajectory.mp4
processed_video_with_crop.mp4
processed_video_with_fade.mp4
landmarks_cache/
.vscode/
processed_video_with_fades.mp4
app/models/elements/checkpoints/check_data.pt
app/models/elements/checkpoints/check_v38.pt
intermediate_temp.mp4
whatsapp_ready_video.mp4
whatsapp_video.mp4
